@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --border-clr:#363a45;
  --bg-clr:#151520;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #151520;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities{
  .bg_clr{
    background-color: #151520;
  }
  .border_left{
    border-left: 1px solid var(--border-clr);
  }
  .border_right{
    border-right: 1px solid var(--border-clr);
  }
  .flexOne{
    width: 25vw;
  }
  .flexThree{
    width: 75vw;
  }
  .width_100vw{
    width: 100vw;
  }
  .side_width{
    width: 350px;
  }
  .transition_main{
    transition: transform 350ms ease-in-out;
  }
  .spinnyThingy{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100vh;
    background-color: red;
    /*background-color: var(--bg-clr);*/
  }
  .border-full{
    border: 1px solid var(--border-clr);
  }
  .grid-row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, auto);
    gap: 10px;
  }
}


.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@media (min-width: 1024px) {
  #sideNav {
    transform: translateX(0%) !important;
  }

  #hamburger {
    transform: translateX(0%) !important;
  }
}