@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --border-clr:#363a45;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #151520;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities{
  .border_right{
    border-right: 1px solid var(--border-clr);
  }
  .flexOne{
    width: 25vw;
  }
  .flexThree{
    width: 75vw;
  }
}