@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --border-clr:#363a45;
  --bg-clr:#151520;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #151520;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities{
  .bg_clr{
    background-color: #151520;
  }
  .border_left{
    border-left: 1px solid var(--border-clr);
  }
  .border_right{
    border-right: 1px solid var(--border-clr);
  }
  .flexOne{
    width: 25vw;
  }
  .flexThree{
    width: 75vw;
  }
  .width_100vw{
    width: 100vw;
  }
  .side_width{
    width: 350px;
  }
  .transition_main{
    transition: transform 350ms ease-in-out;
  }
  .spinnyThingy{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100vh;
    background-color: red;
    /*background-color: var(--bg-clr);*/
  }
}
@media (min-width: 1024px) {
  #sideNav {
    transform: translateX(0%) !important;
  }

  #hamburger {
    transform: translateX(0%) !important;
  }
}